/* ----------Common Styles---------- */

*,
*::before,
*::after { box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
  text-align: center;
  position: relative;
}
/* font-family: 'Barlow', sans-serif;
font-family: 'Fraunces', serif; */

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
  font-family: 'Fraunces', serif;
}

ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
}

header .hero,
main section,
footer {
  padding: 3em;
}

main .transform img,
main .stand-out img {
  width: 100%;
}



/* ----------Header---------- */

header {
  background: url(images/mobile/image-header.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:	hsl(200, 100%, 62%);
  position: fixed;
  width: 100%;
  padding: 2em;
  z-index: 10;
}
.menu nav {
  display: none;
}
.menu #hamMenu,
.logo {
  cursor: pointer;
}

.hero {
  padding-top: 2em;
}
.hero h1 {
  color: hsl(0, 0%, 100%);
  font-size: 5rem;
  font-weight: 900;
  text-transform: uppercase;
  text-rendering: optimizeLegibility;
  letter-spacing: 1rem;
  padding: 2em 0 1.5em 0;
}
.hero img {
  padding-bottom: 4em;
  cursor: pointer;
  animation: bounce 1s linear infinite;
}


/* ----------Main Layout---------- */

/* .main {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(1, fr);
  grid-template-areas: "box-1"
                      "box-2"
                      "box-3"
                      "box-4"
                      "box-5";
} */


/* ----------Footer---------- */

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(200, 64%, 31%);
}


/* ----------Back To Top---------- */

.topBtn {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  bottom: 4em;
  right: 2em;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}
.topBtn-anim {
  opacity: 1;
  transform: translateX(0);
}
.fa-circle-up {
  font-size: 5rem;
  color: hsl(200, 100%, 62%);
}
.topBtn:hover {
  opacity: .7;
}


/* ----------Keyframes---------- */

@keyframes bounce {
  0% { transform: translateY(0); }
  25% { transform: translateY(1em); }
  55% { transform: translateY(2em); }
  75% { transform: translateY(1em); }
  100% { transform: translateY(0); }
}


/* ----------Media Queries---------- */