/* ----------Common Styles---------- */

*,
*::before,
*::after { box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.8rem;
  font-family: 'Barlow', sans-serif;
  text-rendering: optimizeLegibility;
  text-align: center;
  position: relative;
}

h1, h2, h3,
h4, h5, a {
  font-family: 'Fraunces', serif;
  font-weight: 900;
  margin: 0;
  padding: 0;
}
/* recheck font weights */

ul li,
a {
  list-style-type: none;
  text-decoration: none;
  cursor: pointer;
}

/* double-check,
also site-specific highlighting? */
/* a:visited {
  color: hsl(198, 62%, 26%);
} */

.logo img {
  transition: all .5s ease;
}
.logo img:hover {
  transform: scale(120%);
}


/* ----------Header---------- */

header {
  background: url(images/mobile/image-header.jpg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}


/* ----------Sticky Menu---------- */

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:	hsl(200, 100%, 62%);
  position: fixed;
  width: 100%;
  padding: 2em;
  z-index: 10;
}

.menu nav {
  display: none;
}
.menu #ham-menu-btn,
.logo img {
  cursor: pointer;
}

.menu .logo img {
  display: flex;
}


/* ----------Hamburger Menu---------- */

#ham-menu-btn {
  background: hsl(200, 100%, 62%);
  display: block;
  outline: none;
  border: none;
  width: 2.4rem;
  height: 2.4rem;
  transition: all .25s;
  position: relative;
}
.ham-menu-items {
  background: hsl(0, 0%, 100%);
  box-shadow: 0 2rem 1rem hsla(0, 0%, 0%, 0.195);
  display: flex;
  flex-direction: column;
  padding: .5em 0;
  position: fixed;
  right: 0;
  top: 14.26%;
  z-index: 9;
  width: 50%;
  visibility: hidden;
  transform: translateX(100%);
  transition: all 1s ease;
}
.ham-menu-items.unfold {
  visibility: visible;
  transform: translateX(0);
}

.ham-menu-items li {
  color: hsl(213, 9%, 39%);
  padding: 1em;
  transition: all 1s ease;
}
.ham-menu-items li:hover {
  color: hsl(7, 99%, 70%);
  letter-spacing: 1rem;
}
.contact-btn {
  cursor: pointer;
  color: hsl(212, 27%, 19%);
  background-color: hsl(51, 100%, 49%);
  font-family: 'Fraunces', serif;
  font-weight: 900;
  border: none;
  border-radius: 2em;
  margin: 1em;
  padding: 1.3em 2em;
  background: linear-gradient(to bottom, hsl(7, 99%, 70%) 0%, hsl(7, 99%, 70%) 50%, hsl(51, 100%, 49%) 50%, hsl(51, 100%, 49%) 100%);
  background-size: 100% 200%;
  background-position: bottom;
  transition: all .5s ease-in-out;
}
.contact-btn:hover {
  color: hsl(0, 0%, 100%);
  background-position: top;
}

.ham-top,
.ham-mid,
.ham-btm {
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: .2rem;
  background: hsl(0, 0%, 100%);
  transform: rotate(0);
  transition: all .5s;
}

.ham-mid {
  transform: translateY(7px);
}
.ham-btm {
  transform: translateY(14px);
}

#ham-menu-btn.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}
#ham-menu-btn.open .ham-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}
#ham-menu-btn.open .ham-mid {
  display: none;
}
#ham-menu-btn.open .ham-btm {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}


/* ----------Hero---------- */

.hero h1 {
  color: hsl(0, 0%, 100%);
  font-size: 4rem;
  font-weight: 900;
  letter-spacing: .2em;
  padding: 3.8em 0 1.5em 0;
}
.hero img {
  padding-bottom: 10em;
  cursor: pointer;
  animation: bounce 1s linear infinite;
}


/* ----------Main, overall---------- */

main article {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

main h2 {
  font-size: 3.5rem;
}
main h3 {
  font-size: 3rem;
}
main p {
  line-height: 1.7em;
  font-weight: 600;
  margin: 1.7em 0;
}
main a {
  margin: 0 0 1.7em 0;
}

main section,
footer {
  padding: 2em 1.5em;
}

main section,
main img {
  width: 100%;
  /* flex-basis: 0; */
}


/* ----------Main, .transform & .stand-out---------- */

.transform p,
.stand-out p {
  color: hsl(213, 9%, 39%);
}

.learn-more {
  color: hsl(212, 27%, 19%);
  position: relative;
  display: inline-block;
  z-index: 0;
}
.learn-more::before {
  content: '';
  position: absolute;
  z-index: -1;
  top: 1.3rem;
  left: -.66em;
  right: 0;
  height: 0;
  border-radius: .7rem;
  width: 120%;
  opacity: .3;
  transition: all .5s ease-in;
}
.transform .learn-more::before {
  border: .7rem solid hsl(51, 100%, 49%);
}
.stand-out .learn-more::before {
  border: .7rem solid hsl(7, 99%, 70%);
}
.transform:hover .learn-more::before,
.stand-out:hover .learn-more::before {
  opacity: 1;
}


/* ----------Main, .graphic-des & .photography---------- */

.graphic-des {
  background: url(images/mobile/image-graphic-design.jpg) no-repeat;
  background-size: cover;
  color: hsl(167, 40%, 24%);
}
.graphic-des div {
  padding-top: 23em;
}
.graphic-des p {
  font-size: 1.5rem;
}

.photography {
  background: url(images/mobile/image-photography.jpg) no-repeat;
  background-size: cover;
}
.photography div {
  padding-top: 23em;
  color: hsl(198, 62%, 26%);
}
.photography p {
  font-size: 1.5rem;
}


/* ----------Main, .testimonials---------- */

.testimonials .testimonials-heading {
  color: hsl(210, 4%, 67%);
  font-weight: 900;
  letter-spacing: .2em;
  margin: 3.8em 0 2em 0;
  width: 100%;
}

.testimonials img {
  border-radius: 100%;
  width: 5em;
}
.testimonials p {
  color: hsl(213, 9%, 39%);
}
.testimonials h6 {
  color: hsl(210, 4%, 67%);
  margin-top: 1em;
}


/* ----------Main, .pics---------- */

.pics {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.pics img {
  flex: 1 0 50%;
  /* width: 100%; */
}


/* ----------Footer---------- */

footer {
  /* 	hsl(173, 30%, 56%) */
  background: hsl(164, 41%, 71%);
  color: 	hsl(168, 34%, 41%);
}

footer .logo {
  padding: 2em 0 1.5em 0;
  align-items: center;
  justify-content: center;
}
footer .logo img {
  width: 40%;
}
footer .logo img,
footer .social-menu img {
  filter: brightness(0) saturate(100%) invert(46%) sepia(55%)
    saturate(341%) hue-rotate(118deg) brightness(93%) contrast(86%);
}

footer nav ul {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0;
}
footer nav ul li {
  border: .1rem solid hsla(168, 34%, 41%, 0);
  border-radius: 1em;
  padding: 1.5em;
  transition: all 1s ease-in-out;
}
footer nav ul li:hover {
  border: .1rem solid hsl(168, 34%, 41%);
  opacity: .6;
}

footer .social-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  padding: 3.5em 0 2em 0;
}
.social-menu img {
  cursor: pointer;
  transition: all .5s ease;
}
.social-menu img:hover {
  opacity: .6;
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(168, 45%, 32%);
  transition: all .5s ease;
}
.attribution a:hover {
  text-decoration: underline;
  opacity: .6;
}


/* ----------Back To Top---------- */

.topBtn {
  border: none;
  background: none;
  cursor: pointer;
  position: absolute;
  bottom: 4em;
  right: 2em;
  opacity: 0;
  transform: translateY(50px);
  transition: all 1s ease;
}
.topBtn-anim {
  opacity: 1;
  transform: translateX(0);
}
.fa-circle-up {
  font-size: 5rem;
  color: hsl(168, 45%, 32%);
}
.topBtn:hover {
  opacity: .6;
}


/* ----------Keyframes---------- */

@keyframes bounce {
  0% { transform: translateY(0); }
  25% { transform: translateY(1em); }
  55% { transform: translateY(2em); }
  75% { transform: translateY(1em); }
  100% { transform: translateY(0); }
}


/* ----------Media Queries---------- */

@media (min-width: 530px) {
  .pics img {
    flex: 1 0 50%;
    width: 50%;
  }
}

@media (min-width: 768px) {
  header {
    background-position: 50% 70%;
  }

  .menu nav {
    display: flex;
  }
  .menu nav ul {
    color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2em;
    padding-left: 0;
    margin: 0;
  }
  .menu nav ul li {
    transition: opacity .25s ease-in-out;
  }
  .menu nav ul li:hover {
    opacity: .4;
  }
  .contact-btn {
    cursor: pointer;
    color: hsl(212, 27%, 19%);
    background: hsl(0, 0%, 100%);
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin: 0;
    transition: all .5s ease-in-out;
  }
  .contact-btn:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsla(0, 0%, 100%, 0.3);
  }
  #ham-menu-btn,
  #ham-menu-items {
    display: none;
  }

  /* fix */
  .hero h1 {
    font-size: 5rem;
    padding: 5.5em 0 3em;
  }
  .hero img {
    padding-bottom: 13em;
  }

  .graphic-des {
    background: url(images/desktop/image-graphic-design.jpg) no-repeat;
    background-size: cover;
  }
  .graphic-des div {
    padding: 20em 10em 2em;
  }
  .photography {
    background: url(images/desktop/image-photography.jpg) no-repeat;
    background-size: cover;
  }
  .photography div {
    padding: 20em 10em 2em;
  }

  .testimonials section {
    padding: 2em 5em;
  }
  .testimonials section:nth-of-type(3) {
    padding-bottom: 5em;
  }
  .testimonials .testimonials-heading {
    margin: 5em 0 3em 0;
  }
}

@media (min-width: 1024px) {
  header {
    background: url(images/desktop/image-header.jpg) no-repeat;
    background-position: 50% 50%;
  }
  .transform,
  .stand-out {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    flex-basis: 50%;
    align-items: center;
    text-align: left;
  }
  .stand-out {
    flex-direction: row;
  }
  .transform img,
  .stand-out img {
    width: 50%;
  }
  .transform section,
  .stand-out section {
    padding: 0 3em;
  }
  .graphdes-photo {
    flex-wrap: nowrap;
    flex-direction: row;
    flex-basis: 50%;
  }
  .graphdes-photo div {
    padding: 15em 2em 1em;
  }
  .testimonials {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
  .testimonials section {
    flex: 1 0 30%;
    padding: 2em;
    margin: 0;
  }
  .pics img {
    flex: 1 0 25%;
    width: 25%;
  }
}